<!-- Views/Home/Index.cshtml -->
@model List<Player>

<h2>Player List</h2>

<ul>
    @foreach (var player in Model)
    {
        <li>@player.PName - @player.PCountry - @player.PType</li>
    }
</ul>

<h3>We have Players from these countries:</h3>
<ul>
    @foreach (var country in ViewBag.Countries)
    {
        <li>@country</li>
    }
</ul>
